/* ----------------------------------ABOUT PAGE----------------------------------  */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 80px auto;
  color: var(--text-color);
}

.about__img {
  width: 50%;
  height: auto;
  margin-right: -20px;
  z-index: 1;
}

.about__description {
  width: 50%;
  background-color: rgb(248, 246, 246);
  padding: 40px;
}

.about__title {
  font-family: YgroSans-Medium;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 10px;
}

.about__body {
  font-family: YgroSans-Book;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 30px;
}

/* MOBILE, ~ 767 */

@media screen and (max-width: 767px) {
  .about {
    display: block;
    margin: 0;
  }

  .about__img {
    width: 100%;
    display: block;
  }

  .about__description {
    width: 100%;
  }
}
