/* ----------------------------------CAKES PAGE----------------------------------  */

/* -----------------------Product-item */
.product {
  padding: 0 30px;
  color: var(--text-color);
}

.product-item__grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  justify-content: center;
  margin: 60px auto;
}

.product-item__item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.product__heading h1 {
  font-family: YgroSans-Medium;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-top: 120px;
  text-align: center;
}

.product-item__name {
  font-family: Pretendard Variable;
  font-weight: 500;
  font-size: 16px;
  margin: 8px 0px;
}
.product-item__price {
  font-family: Pretendard Variable;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

/* -----------------------Pagination*/

.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard Variable;
  font-weight: 400;
  margin: 80px 0px 120px 0px;
}

.pagination__item {
  margin: 14px;
}

.pagination__item img {
  display: block;
  margin: 0 auto;
}

.pagination__link--01 {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background-color: var(--primary-color);
  color: var(--white-text-color);
  border-radius: 4px;
}

/* MOBILE, ~ 767 */

@media screen and (max-width: 767px) {
  .product {
    padding: 0;
  }

  .product-item__grid {
    grid-template-columns: repeat(2, 1fr); /* 2개의 열 */
    gap: 16px;
  }

  .product__heading h1 {
    margin-top: 30px;
  }

  /* 1행 좌측에만 패딩 주기 */
  .product-item__item:nth-child(odd) {
    margin-left: 16px;
  }

  /* 2행 우측에만 패딩 주기 */
  .product-item__item:nth-child(even) {
    margin-right: 16px;
  }
}
