/* ----------------------------------CAKES PAGE----------------------------------  */
/* -----------------------Product-item */

.product-item__container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 26px;
}

.product-item__item {
  padding: 10px;
}

.product-item__item img {
  width: 100%;
  height: auto;
}

.product__heading h1 {
  font-family: YgroSans-Medium;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  padding: 60px 0px;
  text-align: center;
}

.product-item__name {
  font-family: Pretendard Variable;
  font-weight: 300;
  font-size: 18px;
  padding: 8px 0px;
}
.product-item__price {
  font-family: Pretendard Variable;
  font-weight: 600;
  font-size: 18px;
}

/* -----------------------Pagination*/

.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard Variable;
  font-weight: 400;
}

.pagination__item {
  margin: 14px;
}

.pagination__item img {
  display: block;
  margin: 0 auto;
}

.pagination__link--01 {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background-color: var(--primary-color);
  color: var(--white-text-color);
  border-radius: 4px;
}

/* MOBILE, ~ 767 */

@media screen and (max-width: 767px) {
  .product-item__container {
    flex-wrap: wrap; /* 자식 요소들이 넘칠 경우 여러 줄로 나열 */
    padding: 0px;
  }

  .product-item__item {
    width: 50%; /* 각 항목을 반 너비로 설정하여 두 개의 열로 표시 */
    box-sizing: border-box; /* 패딩과 테두리를 포함한 전체 너비를 유지 */
    padding: 16px;
  }

  .pagination__list {
    padding: 0px;
  }
}
