/* ----------------------------------PRODUCT PAGE----------------------------------  */

/* ------------------------------ Order */

.product-detail {
  color: var(--text-color);
  width: 100%;
  max-width: 816px;
  margin: auto;
}

.product-detail__info {
  display: flex;
  justify-content: center;
  padding: 70px 0px;
}

.product-detail__img {
  margin-right: 40px;
}

.product-detail__img img {
  width: 400px;
  height: 400px;
}

.product-detail__text {
  flex: 1;
}

.product-detail__title {
  font-family: Pretendard Variable;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 14px;
}

.product-detail__price {
  font-family: Pretendard Variable;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 28px;
}

.product-detail__description {
  font-family: Pretendard Variable;
  font-weight: 300;
  color: var(--border3-color);
  line-height: 26px;
}

.product-detail__selection {
  padding-top: 30px;
}

.product-detail__select-size,
.product-detail__select-flavour,
.product-detail__select-packing {
  padding-bottom: 14px;
}

.product-detail__select-size label,
.product-detail__select-flavour label,
.product-detail__select-packing label,
.product-detail__select-quantity label {
  font-family: Pretendard Variable;
  font-weight: 400;
  font-size: 16px;
  display: block;
  padding-bottom: 8px;
}

.product-detail__selection select {
  width: 100%;
  height: 48px;
  font-size: 14px;
  color: var(--text-color);
  font-family: Pretendard Variable;
  font-weight: 400;
  border-style: solid 1px;
  border-color: var(--border2-color);
  border-radius: 4px;
  -webkit-appearance: none;
}

.product-detail__select-custom-icon {
  background-image: url('../icon/select.svg');
  background-repeat: no-repeat;
  background-position: 96% 50%;
  padding-left: 10px;
}

select:focus {
  border: 3px solid var(--primary-color); /* 포커스 시 테두리 색상 변경 */
  outline: none; /* 기본 포커스 효과 제거 */
}

select:required:invalid {
  color: var(--gray-text-color);
  padding-left: 12px;
}

option[value=''][disabled] {
  display: none;
}

.product-detail__buy {
  font-size: 16px;
  color: var(--white-text-color);
  background-color: var(--primary-color);
  width: 100%;
  height: 50px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

.product-detail__add-to-bag {
  width: 64px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border2-color);
  border-radius: 4px;
  margin-left: 16px;
}

.product-detail__add-to-bag img {
  width: 24px;
  height: 24px;
}

.product-detail__select-button {
  display: flex;
  align-items: center;
}

.product-detail__select-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 0px;
}

.product-detail__quantity-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-detail__quantity {
  font-family: Pretendard Variable;
  font-weight: 400;
  font-size: 16px;
  width: 50px;
  text-align: center;
}

.product-detail__decrease-icon,
.product-detail__quantity,
.product-detail__increase-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-detail__ingredient {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid;
  padding-bottom: 39px;
}

.product-detail__ingredient-title {
  font-family: Pretendard Variable;
  font-weight: 600;
  font-size: 14px;
  color: var(--primary-color);
  padding-right: 52px;
}

.product-detail__ingredient-list {
  font-family: Pretendard Variable;
  font-weight: 400;
  font-size: 14px;
  color: var(--gray-text-color);
}

.product-detail__related-title {
  font-family: Pretendard Variable;
  font-weight: 600;
  font-size: 16px;
  padding: 30px;
  display: flex;
  justify-content: center;
}

/* carousel */

.carousel-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

#prevBtn,
#nextBtn {
  z-index: 999;
  background-color: #fff;
  width: 36px;
  border: 0;
}

.chavron-left {
  color: var(--border1-color);
}

.chavron-right {
  color: var(--text-color);
}

.carousel {
  width: 100%;
  height: auto;
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  display: flex;
}

.slide-group {
  display: flex;
}

.carousel img {
  width: 100%;
  height: auto;
  padding: 0 10px;
}

.second-slide-group {
  position: absolute;
  transform: translateX(0); /* 수정된 부분 */
}

.dot-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot-indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--border2-color);
  margin: 15px;
  cursor: pointer;
}

.dot--active {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin: 15px;
  background-color: var(--primary-color);
}

/* MOBILE, ~ 767 */

@media screen and (max-width: 767px) {
  /* ------------------------------ Product-detail */
  .product-detail__info {
    display: block;
    padding: 0px 0px;
  }

  .product-detail__text {
    width: 90%;
    margin: auto;
  }
  .product-detail__description {
    padding-top: 18px;
  }

  .product-detail__ingredient {
    margin: auto;
    display: block;
  }

  .product-detail__img {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 80px;
  }

  .product-detail__img img {
    width: 100%;
    height: auto;
  }

  .product-detail__bottom {
    width: 90%;
    margin: auto;
    margin-top: 40px;
  }

  .product-detail__ingredient-list {
    line-height: 26px;
    padding-top: 14px;
  }

  .dot-container {
    padding-bottom: 65px;
  }
}
