/* ----------------------------------PRODUCT PAGE----------------------------------  */

/* ------------------------------ Order */

.order {
  color: var(--text-color);
  width: 100%;
  max-width: 816px;
  margin: auto;
}

.order__top {
  display: flex;
  justify-content: center;
  padding: 70px 0px;
}

.order__img {
  margin-right: 40px;
}

.order__details {
  flex: 1;
}

.order__title {
  font-family: Pretendard Variable;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.order__price {
  font-family: Pretendard Variable;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 26px;
}

.order__description {
  font-family: Pretendard Variable;
  font-weight: 400;
  color: var(--border3-color);
  line-height: 26px;
}

.order__selection {
  padding-top: 30px;
}

.order__select-size,
.order__select-flavour,
.order__select-decoration {
  padding-bottom: 14px;
}

.order__select-size label,
.order__select-flavour label,
.order__select-decoration label,
.order__select-quantity label {
  font-family: Pretendard Variable;
  font-weight: 400;
  font-size: 16px;
  display: block;
  padding-bottom: 8px;
}

.order__selection select {
  width: 100%;
  height: 48px;
  border-style: solid 1px;
  border-color: var(--border2-color);
  border-radius: 4px;
  -webkit-appearance: none;
  font-size: 14px;
  font-family: Pretendard Variable;
  font-weight: 400;
}

.order__select-custom-icon {
  background-image: url('./img/select.svg');
  background-repeat: no-repeat;
  background-position: 96% 50%;
}

select:required:invalid {
  color: var(--gray-text-color);
  padding-left: 12px;
}

option[value=''][disabled] {
  display: none;
}

.order__buy {
  font-size: 16px;
  color: var(--white-text-color);
  background-color: var(--primary-color);
  width: 100%;
  height: 50px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

.order__add-to-bag {
  width: 64px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border2-color);
  border-radius: 4px;
  margin-left: 16px;
}

.order__add-to-bag img {
  width: 24px;
  height: 24px;
}

.order__select-button {
  display: flex;
  align-items: center;
}

.order__select-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 0px;
}

.order__quantity-selector h1 {
  font-family: Pretendard Variable;
  font-weight: 400;
  font-size: 16px;
}

.order__quantity-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__quantity-selector h1 {
  padding: 16px;
}

.order__decrease-quantity,
.order__increase-quantity {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}

.order__decrease-quantity {
  background-color: var(--border1-color);
}

.order__increase-quantity {
  background-color: var(--primary-color);
}

.order__ingredient {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid;
  padding-bottom: 39px;
}

.order__ingredient-title {
  font-family: Pretendard Variable;
  font-weight: 600;
  font-size: 14px;
  color: var(--primary-color);
  padding-right: 52px;
}

.order__ingredient-list {
  font-family: Pretendard Variable;
  font-weight: 400;
  font-size: 14px;
  color: var(--gray-text-color);
}

.order__related-title {
  font-family: Pretendard Variable;
  font-weight: 600;
  font-size: 16px;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.order__related-img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.order__related-img img {
  width: 100%;
  height: auto;
  padding: 0 10px;
}

.order__slider-nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__circle-first {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color: var(--primary-color);
}

.order__circle-second,
.order__circle-third {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: var(--border2-color);
}

.dot-indicatior {
  margin: 15px;
}

/* MOBILE, ~ 767 */

@media screen and (max-width: 767px) {
  /* ------------------------------ Order */
  .order__top {
    display: block;
    padding: 0px 0px;
  }

  .order__details {
    width: 90%;
    margin: auto;
  }
  .order__details-text {
    padding-top: 18px;
  }

  .order__ingredient {
    margin: auto;
    display: block;
  }

  .order__img {
    width: 100%;
    margin: auto;
    margin-top: 80px;
  }

  .order__img img {
    width: 100%;
  }

  .order__bottom {
    width: 90%;
    margin: auto;
    margin-top: 40px;
  }

  .order__ingredient-list {
    line-height: 26px;
    padding-top: 14px;
  }

  .order__slider-nav {
    padding-bottom: 65px;
  }
}
