/* ----------------------------------SHOP PAGE----------------------------------  */

/* -----------------------Product-item */
.product {
  padding: 120px 30px 180px 30px;
  color: var(--text-color);
}

.product__heading h1 {
  font-family: 'YgroSans-Book';
  font-weight: 100;
  font-size: 32px;
  text-align: center;
  margin-bottom: 60px;
}

.tab {
  display: flex;
  justify-content: center;
}

.tab button {
  font-size: 16px;
  background-color: #ffffff;
  border: 0;
  color: var(--text-color);
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: 1px solid #fff;
  background-color: var(--border1-color);
  border-radius: 20px;
  margin: 0px 8px;
  font-family: 'YgroSans-Book';
  font-weight: 100;
}

.tab button.active {
  /* border-bottom: 1.5px solid var(--text-color); */
  background-color: var(--primary-color);
  color: var(--white-text-color);
}

.tabcontent {
  display: none;
}

.tabcontent.active {
  display: block;
}

.item-quantity {
  font-family: 'YgroSans-Book';
  font-weight: 100;
  font-size: 14px;
  text-align: center;
  color: var(--gray-text-color);
  margin-top: 24px;
}

.product-item__grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  justify-content: center;
  margin: 60px auto;
}

.product-item__item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.product-item__name {
  font-family: 'YgroSans-Book';
  font-weight: 100;
  font-size: 18px;
  margin: 8px 0px 4px 0px;
}

.product-item__price {
  font-family: 'YgroSans-Book';
  font-weight: 100;
  font-size: 16px;
  margin-bottom: 30px;
}

/* -----------------------Pagination*/

.pagination__list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Pretendard Variable;
  font-weight: 400;
  margin: 0;
}

.pagination__item {
  margin: 8px;
}

.pagination__item img {
  display: block;
  margin: 0 auto;
}

.pagination__link {
  width: 24px;
  height: 24px;
  display: inline-block;
  text-align: center;
  line-height: 24px;
}

.pagination__link--01 {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  background-color: var(--primary-color);
  color: var(--white-text-color);
  border-radius: 4px;
}

/* MOBILE, ~ 767 */

@media screen and (max-width: 767px) {
  .product {
    padding: 30px 16px 80px 16px;
  }

  .tab button {
    margin: 0px 4px;
  }

  .product__heading h1 {
    margin-bottom: 30px;
  }

  .product-item__grid {
    grid-template-columns: repeat(2, 1fr); /* 2개의 열 */
    gap: 10px;
    margin: 30px 0px;
  }
}
