.store__description {
  padding: 180px;
  color: var(--text-color);
  text-align: center;
  font-family: 'YgroSans-Medium';
}

.store__cake-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.store__cake-img img {
  width: 250px;
  height: auto;
}

.store__heading h1 {
  font-size: 32px;
}

@media screen and (max-width: 767px) {
  .store__cake-img img {
    width: 150px;
  }

  .store__heading h1 {
    font-size: 18px;
  }

  .store__description {
    padding: 60px 0px 120px 0px;
  }
}
