/* CSS DOCUMENT */

/* ------------------------------ Font face */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@font-face {
  font-family: 'YgroSans-Book';
  src: url('./fonts/YgroSansBeta-Book.woff') format('woff');
}

@font-face {
  font-family: 'YgroSans-Medium';
  src: url('./fonts/YgroSansBeta-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Angelica';
  src: url('./fonts/WhiteAngelica.woff') format('woff');
}

/* ------------------------------ Colours */
:root {
  --text-color: #262626;
  --white-text-color: #fff;
  --gray-text-color: #9b9b9b;
  --border1-color: #f1f1f2;
  --border2-color: #cfd0d3;
  --dark-gray-text-color: #636363;
  --primary-color: #9a354e;
}

/* ------------------------------ General */

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  padding: 0;
}

/* ---------------------------------HOME PAGE-----------------------------------  */

/* ------------------------------ Nav Bar */
.navbar {
  display: flex;
  font-family: 'YgroSans-Book';
  font-weight: 100;
  height: 120px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1200px;
  background-color: #fff;
  padding: 0 16px;
}

/* 장바구니 뱃지 스타일 */
.cart-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  font-family: 'YgroSans-Medium';
  font-size: 12px;
  position: absolute;
  top: 1px;
  right: 1px;
  background-color: rgb(246, 105, 107);
  color: var(--white-text-color);
  border-radius: 50%;
  z-index: 2;
}

/* Hamburger Menu */
.navbar__toggleBtn {
  display: none;
  right: 5%;
  font-size: 16x;
}

.navbar__logo {
  width: 90px;
  height: auto;
}

.navbar__menu {
  display: flex;
  list-style: none;
  margin: auto;
  padding: 0px;
  left: 0;
}

.navbar__menu li {
  font-size: 16px;
  margin: 0px 30px;
  position: relative;
}

.menu-btn {
  padding: 10px 0px; /* 일반 상태의 패딩 */
}

.navbar__menu li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color);
  transition: width 0.3s ease; /* 변경되는 시간 조절 가능 */
}

.navbar__menu li:hover::after {
  width: 100%;
}

/* My order 메뉴 숨기기 */
.additional-menu,
.menu-divider {
  display: none;
}

.menu-divider {
  width: 100%;
  border-bottom: 1px solid var(--border1-color);
}

.navbar__icons {
  list-style: none;
  display: flex;
  align-items: center;
  position: relative; /* 부모 요소를 상대 위치로 설정 */
}

.navbar__icons img {
  margin: 12px;
  width: 24px;
  height: 24px;
}

/* Search Bar */
.search-bar {
  display: none;
  align-items: center;
  position: relative;
  width: 250px;
}

.clear-icon {
  width: 18px;
  line-height: 18px;
  font-size: 20px;
  text-align: center;
  position: absolute;
  right: 16px;
  cursor: pointer;
  display: none;
  color: var(--white-text-color);
  border-radius: 50%;
  background-color: var(--border2-color);
}

.search-bar.active {
  display: flex;
}

.search-bar input[type='text'] {
  color: var(--text-color);
  font-size: 16px;
  flex: 1;
  border-radius: 20px;
  background-color: var(--border1-color);
  border: none;
  outline: none;
  padding: 8px 12px;
}

.search-bar input[type='text']::placeholder {
  color: var(--gray-text-color);
  font-family: 'YgroSans-Book';
  font-weight: 100;
  font-weight: 400;
  font-size: 14px;
}

/* ------------------------------ Main */

.main__header-box {
  position: absolute;
  min-width: 340px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto; /* 너비를 자동으로 설정하여 유동적으로 크기 조정 */
  max-width: 90%; /* 부모 요소에 대해 최대 너비 설정 */
  height: auto;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 4%;
  text-align: center;
  color: var(--text-color);
  border-radius: 20px;
}

.auto-slider {
  display: flex;
  overflow: hidden;
  position: relative;
}

.auto-slider-container {
  display: flex;
  transition: transform 0.5s ease;
}

.auto-slide {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  min-height: 440px;
  max-height: 600px;
}

.auto-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__title {
  font-family: 'YgroSans-Book';
  font-weight: 100;
  font-size: 50px;
}

.main__description {
  font-family: 'YgroSans-Book';
  max-width: 660px;
  font-weight: 100;
  font-size: 18px;
  line-height: 160%;
  padding-top: 16px;
}

/* 슬라이드 막대 스타일링 */
.slider-bar-container {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translate(-50%, -50%); /* 정중앙으로 이동 */
  width: 330px;
  height: 2px;
  background-color: rgba(
    255,
    255,
    255,
    0.3
  ); /* 흰색 배경에 40%의 투명도 적용 */
}

.slider-bar {
  width: 33.3%;
  height: 100%;
  background-color: #fff;
  transition: width 0.5s ease;
}

/* ------------------------------ Best Item */
.best-product {
  font-family: 'YgroSans-Book';
  padding: 120px 30px 180px 30px;
  color: var(--text-color);
  max-width: 1200px;
  margin: auto;
}

.best-product__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 46px;
  justify-content: center;
  margin: auto;
  padding: 0 16px;
}

.best-product__item img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.best-product__heading h1 {
  font-size: 32px;
  font-family: 'YgroSans-Book';
  font-weight: 100;
  text-align: center;
  margin-bottom: 60px;
  padding: 0 16px;
}

.best-product__name {
  font-size: 18px;
  margin: 8px 0px;
  font-family: 'YgroSans-Book';
  font-weight: 100;
}

.best-product__price {
  font-size: 16px;
  margin-bottom: 16px;
  font-family: 'YgroSans-Book';
  font-weight: 100;
}

.best-product__item p {
  font-size: 14px;
  line-height: 130%;
}

.view-more {
  font-family: 'YgroSans-Book';
  font-size: 14px;
  text-align: center;
  width: 130px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  border: 1.5px solid #fff;
  margin: auto;
  border-radius: 20px;
  background-color: var(--border1-color);
  margin-top: 40px;
  cursor: pointer;
  background: linear-gradient(
    to right,
    var(--border1-color) 0%,
    var(--border1-color) 50%,
    var(--primary-color) 50%,
    var(--primary-color) 100%
  );
  background-size: 200% 100%;
  transition: background-position 0.5s;
}
.view-more:hover {
  background-position: -100% 0;
  color: var(--white-text-color);
}
/* ------------------------------ Footer */
.footer {
  width: 100%;
  border-top: 1px solid var(--border1-color);
  font-family: 'YgroSans-Book';
  font-weight: 100;
  color: var(--text-color);
  font-weight: 300;
  font-size: 13px;
  letter-spacing: 0.4px;
  color: var(--gray-text-color);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  padding: 60px 16px;
  margin: auto;
}

.footer__copyright {
  line-height: 150%;
}

.bold {
  font-family: 'YgroSans-Medium';
  margin-right: 8px;
}

.footer__address p {
  margin: 16px 0px;
}

.hr {
  padding: 8px;
  color: var(--border2-color);
}

.footer__social-link {
  display: flex;
  justify-content: center;
}

.footer__social-link img {
  width: 24px;
  height: 24px;
  margin: 12px;
}

/* MOBILE, ~ 767 */

@media screen and (max-width: 767px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Hamburger Menu */
  .navbar__toggleBtn {
    display: block;
    cursor: pointer;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #fff;
    border-top: 1px solid var(--border1-color);
    top: 100%;
    width: 100%;
  }

  .navbar__menu li {
    margin-top: 30px;
  }

  .navbar__menu li:hover::after {
    width: 0%;
  }

  .navbar__menu li a {
    font-size: 18px;
    padding: 8px 12px;
  }

  .navbar__menu.active {
    height: 100vh;
    display: flex;
    margin: auto;
    padding: 0px;
  }

  .navbar__icons {
    display: flex;
    justify-content: end;
    width: 100%;
  }

  .search-bar.active {
    width: 100%;
  }

  .additional-menu {
    display: block;
  }

  .account-icon {
    display: none;
  }

  .cart-badge {
    right: 50px;
  }

  /* ------------------------------ Main */
  .slide-image-1 img {
    content: url('./img/mobile-hero.jpg');
  }

  .slide-image-2 img {
    content: url('./img/mobile-hero2.jpg');
  }

  .slide-image-3 img {
    content: url('./img/mobile-hero3.jpg');
  }

  .main__header-box {
    top: 30%;
    padding: 30px 24px;
  }

  .main__title {
    font-size: 34px;
  }

  .main__description {
    font-size: 16px;
    margin: auto;
  }

  .auto-slide {
    height: 500px;
  }

  /* ------------------------------ Best Item */

  .best-product {
    width: 80%;
    margin: auto;
    padding: 60px 0px 80px 0px;
  }

  .best-product__list {
    display: flex;
    flex-direction: column;
  }

  .best-product__item {
    margin-bottom: 60px;
  }

  .best-product__heading h1 {
    margin-bottom: 30px;
  }

  /* ------------------------------ Footer */
  .footer__container {
    flex-direction: column-reverse;
    text-align: center;
    padding: 30px 20px;
  }

  .footer__copyright {
    margin: 12px 0px;
  }

  .footer__social-link,
  .footer__address {
    margin-bottom: 16px;
  }
  body {
    padding-top: 120px;
  }
}
