/* CSS DOCUMENT */

/* ------------------------------ Font face */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css');
@font-face {
  font-family: YgroSans-Book;
  src: url('./fonts/YgroSansBeta-Book.woff') format('woff');
}

@font-face {
  font-family: YgroSans-Medium;
  src: url('./fonts/YgroSansBeta-Medium.woff') format('woff');
}

/* ------------------------------ Colours */
:root {
  --text-color: #101010;
  --white-text-color: #fff;
  --background-color: #fff;
  --accent-color: #ede9e7;
  --gray-text-color: #ababab;
  --border1-color: #f1f0f0;
  --border2-color: #cdced4;
  --border3-color: #383838;
  --primary-color: #7658cc;
}

/* ------------------------------ General */

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* ------------------------------ Nav Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  background-color: var(--background-color);
}

/* Hamburger Menu */
.navbar__toggleBtn {
  display: none;
  right: 5%;
  font-size: 24px;
}

.navbar__logo {
  width: 90px;
  height: 90px;
  margin: 20px;
}

.navbar__menu {
  display: flex;
  list-style: none;
}

.navbar__menu li a {
  font-size: 16px;
  margin: 30px;
  font-family: Pretendard Variable;
  font-weight: 400;
}

.navbar__menu li a:hover {
  border-bottom: #903d52 solid 1px;
}

/* My order 메뉴 숨기기 */
.additional-menu {
  display: none;
}

.menu-divider {
  width: 100%;
  border-bottom: 1px solid var(--border1-color);
  margin-bottom: 10px;
}

.navbar__icons {
  list-style: none;
  display: flex;
  padding-left: 0%;
}

.navbar__icons img {
  margin: 0px 14px;
  width: 24px;
  height: 24px;
}
/* ---------------------------------HOME PAGE-----------------------------------  */

/* ------------------------------ Main */
.main__hero-img {
  display: flex;
  background: url('img/hero.png') no-repeat center / cover;
  padding: 130px;
}

.main__header-box {
  position: relative;
  width: 772px;
  height: auto;
  margin: auto;
  transition: 0.6s all ease-in-out;
  background: rgba(255, 255, 255, 0.43);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); /* Safari 브라우저를 위한 접두사 추가 */
  display: block;
  padding: 80px;
  text-align: center;
}

.main__title {
  font-family: YgroSans-Book;
  font-weight: 400;
  font-size: 50px;
}

.main__description {
  font-family: Pretendard Variable;
  font-weight: 300;
  font-size: 18px;
  line-height: 28px;
  padding-top: 14px;
}

/* ------------------------------ Best Item */

.best-item__container {
  display: flex;
  justify-content: center;
  padding-top: 26px;
}

.best-item__item {
  padding: 26px;
}

.best-item__heading {
  font-family: Pretendard Variable;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  padding-top: 70px;
  text-align: center;
}

.best-item__name {
  font-family: Pretendard Variable;
  font-weight: 600;
  font-size: 18px;
  padding-top: 10px;
}
.best-item__price {
  font-family: Pretendard Variable;
  font-weight: 400;
  font-size: 16px;
  padding-top: 6px;
}

/* ------------------------------ Footer */
.footer {
  height: 177px;
  max-width: 1200px;
  margin: auto;
  padding: 0px 28px;
  margin-top: 100px;
}

.footer__copyright {
  padding: 6px 0px;
  font-family: Pretendard Variable;
  font-weight: 300;
  font-size: 12px;
  color: var(--gray-text-color);
}

.footer__social-link {
  display: flex;
  justify-content: center;
}

.footer__social-link img {
  margin: 0 16px;
}

/* MOBILE, 767px and BELOW */

/* ------------------------------ Nav Bar */

@media screen and (max-width: 767px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* Hamburger Menu */
  .navbar__toggleBtn {
    display: block;
    cursor: pointer;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: #fff;
    border-top: 1px solid var(--border1-color);
    top: 100%;
    width: 100%;
  }

  .navbar__menu li {
    margin: 20px;
  }

  .navbar__menu li a {
    font-size: 40px;
  }

  .navbar__menu.active {
    height: 100vh;
    display: flex;
    margin: auto;
    padding: 0px;
  }

  .additional-menu {
    display: block;
  }

  .navbar__icons img {
    margin: 0px 14px; /* 아이콘 간 간격 */
    width: 24px;
    height: 24px;
  }

  .account-icon {
    display: none; /* 모바일에서는 숨김 */
  }

  /* ------------------------------ Main */
  .main__hero-img {
    display: flex;
    background: url('img/mobile_home_cake.png') no-repeat center / cover;
    padding: 60px 30px 180px 30px;
  }

  .main__header-box {
    padding: 20px;
  }

  .main__title {
    font-size: 30px;
  }

  .main__description {
    font-size: 16px;
    line-height: 140%;
    margin: auto;
  }

  /* ------------------------------ Best Item */

  .best-item__container {
    display: block;
    align-items: center;
    padding-bottom: 0;
  }

  .best-item__item img {
    width: 100%;
    height: auto;
  }

  .best-item__item {
    width: 80%;
    margin: auto;
  }

  /* ------------------------------ Footer */

  .footer {
    margin-top: 40px;
    display: block;
    justify-content: center;
    text-align: center;
  }

  .footer__social-link {
    padding: 24px;
  }
}

/* ----------------------------------CAKES PAGE----------------------------------  */

/* ------------------------------ Order */

.order {
  color: var(--text-color);
  width: 100%;
  max-width: 816px;
  margin: auto;
}

.order__top {
  display: flex;
  justify-content: center;
  padding: 70px 0px;
}

.order__img {
  margin-right: 40px;
}

.order__details {
  flex: 1;
}

.order__title {
  font-family: Pretendard Variable;
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
}

.order__price {
  font-family: Pretendard Variable;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 26px;
}

.order__description {
  font-family: Pretendard Variable;
  font-weight: 400;
  color: var(--border3-color);
  line-height: 26px;
}

.order__selection {
  padding-top: 30px;
}

.order__select-size,
.order__select-flavour,
.order__select-decoration {
  padding-bottom: 14px;
}

.order__select-size label,
.order__select-flavour label,
.order__select-decoration label,
.order__select-quantity label {
  font-family: Pretendard Variable;
  font-weight: 400;
  font-size: 16px;
  display: block;
  padding-bottom: 8px;
}

.order__selection select {
  width: 100%;
  height: 48px;
  border-style: solid 1px;
  border-color: var(--border2-color);
  border-radius: 4px;
  -webkit-appearance: none;
  font-size: 14px;
  font-family: Pretendard Variable;
  font-weight: 400;
}

.order__select-custom-icon {
  background-image: url('./img/select.svg');
  background-repeat: no-repeat;
  background-position: 96% 50%;
}

select:required:invalid {
  color: var(--gray-text-color);
  padding-left: 12px;
}

option[value=''][disabled] {
  display: none;
}

.order__buy {
  font-size: 16px;
  color: var(--white-text-color);
  background-color: var(--primary-color);
  width: 100%;
  height: 50px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

.order__add-to-bag {
  width: 64px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border2-color);
  border-radius: 4px;
  margin-left: 16px;
}

.order__add-to-bag img {
  width: 24px;
  height: 24px;
}

.order__select-button {
  display: flex;
  align-items: center;
}

.order__quantity-selector h1 {
  font-family: Pretendard Variable;
  font-weight: 400;
  font-size: 16px;
}

.order__select-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 0px;
}

.order__quantity-selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__quantity-selector h1 {
  padding: 16px;
}

.order__decrease-quantity,
.order__increase-quantity {
  width: 24px;
  height: 24px;
  border-radius: 2px;
}

.order__decrease-quantity {
  background-color: var(--border1-color);
}

.order__increase-quantity {
  background-color: var(--primary-color);
}

.order__ingredient {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid;
  padding-bottom: 39px;
}

.order__ingredient-title {
  font-family: Pretendard Variable;
  font-weight: 600;
  font-size: 14px;
  color: var(--primary-color);
  padding-right: 52px;
}

.order__ingredient-list {
  font-family: Pretendard Variable;
  font-weight: 400;
  font-size: 14px;
  color: var(--gray-text-color);
}

.order__related-title {
  font-family: Pretendard Variable;
  font-weight: 600;
  font-size: 16px;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.order__related-img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.order__related-img img {
  width: 100%;
  height: auto;
  padding: 0 10px;
}

.order__slider-nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order__circle-first {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color: var(--primary-color);
}

.order__circle-second,
.order__circle-third {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: var(--border2-color);
}

.dot-indicatior {
  margin: 15px;
}

/* MOBILE, 600px and BELOW */

@media screen and (max-width: 600px) {
  /* ------------------------------ Order */
  .order__top {
    display: block;
    padding: 0px 0px;
  }

  .order__details {
    width: 90%;
    margin: auto;
  }
  .order__details-text {
    padding-top: 18px;
  }

  .order__ingredient {
    margin: auto;
    display: block;
  }

  .order__img {
    width: 100%;
    margin: auto;
    margin-top: 80px;
  }

  .order__img img {
    width: 100%;
  }

  .order__bottom {
    width: 90%;
    margin: auto;
    margin-top: 40px;
  }

  .order__ingredient-list {
    line-height: 26px;
    padding-top: 14px;
  }

  .order__slider-nav {
    padding-bottom: 65px;
  }
}

/* ----------------------------------ABOUT PAGE----------------------------------  */

.about-main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 60px 0px;
  margin-top: 80px;
}

.about-main__img {
  width: 40%;
  height: auto;
  margin-right: -20px;
  z-index: 1;
}

.about-main__description {
  width: 50%;
  background-color: rgb(248, 246, 246);
  padding: 40px;
}

.about-main__title {
  font-family: YgroSans-Medium;
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 10px;
}

.about-main__text {
  font-family: YgroSans-Book;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 30px;
}

/* MOBILE, 600px and BELOW */

@media screen and (max-width: 600px) {
  .about-main {
    display: block;
  }

  .about-main__img {
    width: 100%;
    display: block;
    margin: -24px auto;
  }

  .about-main__description {
    width: 100%;
  }
}
