/* CSS DOCUMENT */

/* ------------------------------ Font face */
@font-face {
  font-family: Pretendard-Regular;
  src: url('./fonts/Pretendard-Regular.woff') format('woff');
}

@font-face {
  font-family: Pretendard-Light;
  src: url('./fonts/Pretendard-Light.woff') format('woff');
}

@font-face {
  font-family: Pretendard-Bold;
  src: url('./fonts/Pretendard-Bold.woff') format('woff');
}

@font-face {
  font-family: Pretendard-Medium;
  src: url('./fonts/Pretendard-Medium.woff') format('woff');
}

@font-face {
  font-family: YgroSans-Book;
  src: url('./fonts/YgroSansBeta-Book.woff') format('woff');
}

@font-face {
  font-family: YgroSans-Medium;
  src: url('./fonts/YgroSansBeta-Medium.woff') format('woff');
}

/* ------------------------------ Colours */
:root {
  --text-color: #101010;
  --white-text-color: #fff;
  --background-color: #fff;
  --accent-color: #ede9e7;
  --gray-text-color: #ababab;
  --border1-color: #f1f0f0;
  --border2-color: #cdced4;
  --border3-color: #383838;
  --primary-color: #7658cc;
}

* {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/* ---------------------------------HOME-----------------------------------  */

/* ------------------------------ Wrapper */

.wrapper {
  width: 100%;
  transition: 0.6s all ease-in-out;
}

/* ------------------------------ Nav Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  background-color: var(--background-color);
}

/* Hambuger Menu */
.navbar_toggleBtn {
  display: none;
  position: absolute;
  right: 5%;
  font-size: 24px;
}

.nav_logo {
  width: 90px;
  height: 90px;
  margin: 20px;
}

.navbar_menu {
  display: flex;
  list-style: none;
}

.navbar_menu li a {
  font-size: 14px;
  margin: 30px;
  font-family: Pretendard-Regular;
}

.navbar_menu li a:hover {
  border-bottom: #7658cc solid 1px;
}

.navbar_icons {
  list-style: none;
  display: flex;
  padding-left: 0%;
}

.navbar_icons img {
  margin: 0px 14px;
  width: 24px;
  height: 24px;
}

/* ------------------------------ Main */
.hero_img {
  display: flex;
  background: url('img/hero.png') no-repeat center / cover;
  height: 50vh;
}

/* ------------------------------ Header box */
.header_box {
  position: relative;
  width: 772px;
  height: auto;
  margin: auto;
  transition: 0.6s all ease-in-out;
  background: rgba(255, 255, 255, 0.43);
  backdrop-filter: blur(6px);
  display: block;
  padding: 60px;
  text-align: center;
}

.header_box h1 {
  font-family: YgroSans-Book;
  font-weight: 400;
  font-size: 50px;
}

.header_box p {
  font-family: Pretendard-Light;
  font-size: 18px;
  line-height: 28px;
  padding-top: 2%;
}

/* ------------------------------ Best Item */

.best_title h1 {
  font-family: Pretendard-Bold;
  font-size: 30px;
  line-height: 36px;
  padding-top: 70px;
  text-align: center;
}

.best_image h2 {
  font-family: Pretendard-Bold;
  font-size: 18px;
  padding-top: 10px;
}
.best_image h3 {
  font-family: Pretendard-Regular;
  font-size: 16px;
  padding-top: 6px;
}

.best_image {
  display: flex;
  justify-content: center;
  padding-top: 26px;
}

.item_first,
.item_second,
.item_third {
  padding: 26px;
}

/* ------------------------------ Footer */
.footer {
  height: 177px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0px 28px;
  margin-top: 100px;
}

.footer p {
  padding: 6px 0px;
  font-family: Pretendard-Regular;
  font-size: 12px;
  color: var(--gray-text-color);
}

.social_link {
  display: flex;
  justify-content: center;
}

.social_link img {
  margin: 0px 16px;
}

/* MOBILE, 767px and BELOW */

@media screen and (max-width: 767px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
    flex-direction: column;
    align-items: flex-start;
  }

  /* Hambuger Menu */
  .navbar .navbar_toggleBtn {
    padding: 50px 0px;
  }

  .navbar_toggleBtn {
    display: block;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    margin: 20px;
  }
  .navbar_menu li a {
    font-size: 40px;
  }

  .navbar_menu.active {
    height: 100vh;
    display: flex;
    margin: auto;
    padding: 10rem;
    border-bottom: 1px solid #e2e2e2;
  }

  .navbar_icons {
    display: none;
  }

  .hero_img {
    display: flex;
    background-image: url(./img/mobile_home_cake.png);
    height: 50vh;
  }
  .best_image {
    display: block;
    align-items: center;
    padding-bottom: 0;
  }

  .best_image img {
    width: 100%;
    height: auto;
  }

  .header_box {
    width: 80%;
    padding: 40px 20px;
  }

  .header_box h1 {
    font-size: 30px;
  }

  .header_box p {
    font-size: 14px;
    line-height: 20px;
    margin: auto;
  }

  .item_first,
  .item_second,
  .item_third {
    width: 80%;
    margin: auto;
  }

  .footer {
    display: block;
    justify-content: center;
    text-align: center;
  }

  .social_link {
    padding: 24px;
  }
}

/* TABLET, 600px and ABOVE */
@media screen and (min-width: 600px) {
  .hamburger_menu {
    display: none;
  }
}

/* DESKTOP, 992px and ABOVE */
@media screen and (min-width: 992px) {
  .hamburger_menu {
    display: none;
  }
}

/* ----------------------------------RAINBOW----------------------------------  */
.order_item {
  width: 100%;
  max-width: 816px;
  margin: auto;
}

.order_top {
  display: flex;
  justify-content: center;
  padding: 70px 0px;
}

.order_detail {
  margin-left: 40px;
}
.order_detail_text h1 {
  font-family: Pretendard-Bold;
  font-size: 20px;
  margin-bottom: 10px;
}

.order_detail_text h2 {
  font-family: Pretendard-Regular;
  font-size: 16px;
  margin-bottom: 26px;
}

.order_detail_text p {
  font-family: Pretendard-Regular;
  font-size: 14px;
  line-height: 26px;
}

.detail_select {
  padding-top: 30px;
}

.select_size,
.select_flavour,
.select_decoration {
  padding-bottom: 14px;
}
.select_size label,
.select_flavour label,
.select_decoration label,
.select_quentity label {
  font-family: Pretendard-Regular;
  font-size: 16px;
  display: block;
  padding-bottom: 8px;
}

.detail_select select {
  width: 100%;
  height: 48px;
  border-style: solid 1px;
  border-color: var(--border2-color);
  border-radius: 4px;
  -webkit-appearance: none;
  font-size: 14px;
  font-family: Pretendard-Light;
}

.select_custom_icon {
  background-image: url('./img/select.svg');
  background-repeat: no-repeat;
  background-position: 96% 50%;
}

select:required:invalid {
  color: var(--gray-text-color);
  padding-left: 12px;
}

option[value=''][disabled] {
  display: none;
}

.select_buy {
  font-size: 16px;
  color: var(--white-text-color);
  background-color: var(--primary-color);
  width: 100%;
  height: 50px;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

.add_to_bag {
  width: 64px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border2-color);
  border-radius: 4px;
  margin-left: 16px;
}

.add_to_bag img {
  width: 24px;
  height: 24px;
}

.select_button {
  display: flex;
  align-items: center;
}

.quentity_selector h1 {
  font-family: Pretendard-Regular;
  font-size: 16px;
}

.select_quentity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px 0px;
}

.quentity_selector {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quentity_selector h1 {
  padding: 16px;
}

.decrease_quentity {
  width: 24px;
  height: 24px;
  background-color: var(--border1-color);
  border-radius: 2px;
}

.increase_quentity {
  width: 24px;
  height: 24px;
  background-color: var(--primary-color);
  border-radius: 2px;
}

.order_ingredient {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid;
  padding-bottom: 39px;
}

.ingredient_title {
  font-family: Pretendard-Medium;
  font-size: 14px;
  color: var(--primary-color);
  padding-right: 52px;
}

.ingredient_list {
  font-family: Pretendard-Regular;
  font-size: 14px;
  color: var(--gray-text-color);
}

.related_item h1 {
  font-family: Pretendard-Medium;
  font-size: 16px;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.related_img {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.related_img img {
  width: 100%;
  height: auto;
  padding: 0 10px;
}

.slider_nav {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle_first {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  background-color: var(--primary-color);
}

.circle_second,
.circle_third {
  border-radius: 50%;
  height: 8px;
  width: 8px;
  background-color: var(--border2-color);
}
.circle {
  margin: 15px;
}

/* MOBILE, 600px and BELOW */
@media screen and (max-width: 600px) {
  .order_top {
    display: block;
    padding: 0px 0px;
  }

  .order_detail {
    width: 90%;
    margin: auto;
  }
  .order_detail_text {
    padding-top: 18px;
  }

  .order_ingredient {
    margin: auto;
    display: block;
  }

  .order_img {
    width: 100%;
    margin: auto;
  }

  .order_img img {
    width: 100%;
  }

  .order_bottom {
    width: 90%;
    margin: auto;
    margin-top: 40px;
  }

  .ingredient_list {
    line-height: 26px;
    padding-top: 14px;
  }

  .slider_nav {
    padding-bottom: 65px;
  }
}

/* ----------------------------------ABOUT----------------------------------  */

.about_main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 60px 0px;
}

.about_img {
  width: 360px;
  height: auto;
  margin-right: -20px;
  z-index: 1;
}

.about_dis {
  width: 500px;
  background-color: rgb(248, 246, 246);
  padding: 40px;
}

.about_dis h1 {
  font-family: YgroSans-Medium;
  font-size: 18px;
  line-height: 20px;
  padding-bottom: 10px;
}

.about_dis p {
  font-family: YgroSans-Book;
  font-size: 14px;
  line-height: 20px;
  padding-bottom: 20px;
}

/* MOBILE, 600px and BELOW */
@media screen and (max-width: 600px) {
  .about_main {
    display: block;
  }

  .about_img {
    width: 60%;
    display: block;
    margin: -24px auto;
  }
  .about_dis {
    width: 100%;
    padding: 60px;
    margin: auto;
  }
}
